<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1,user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<title>添加帮帮需求</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />

		<style type="text/css">
			.mui-input-row label {
				width: 100%;
			}
			.li-margin-left-25{
				margin-left: 25px;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header-green">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">添加帮帮需求</h1>
			<a class="mui-icon iconfont icon-queren1 mui-pull-right" onclick="vm.addAidOrder()"></a>
		</header>
		<div class="mui-content">
			<form class="mui-input-group">
				<div class="mui-input-row">
					<input type="text" class="mui-input-clear" v-model="aidOrder.title" placeholder="订单名称" />
				</div>
				<div class="mui-row">
					<ul id="category" class="mui-table-view mui-table-view-radio li-margin-left-25">
						<template v-for="(item,index) in aidCategorys">
							<li v-bind:class="'mui-table-view-cell '+(vm.aidOrder.categoryId==item.categoryId?'mui-selected':'')" v-bind:value="item.categoryId">
								<a class="mui-navigate-right">
									<span :class="item.icon">{{item.name}}</span>
								</a>
							</li>
						</template>
					</ul>
				</div>
				<div class="mui-input-row">
					<input type="text" class="mui-input-clear" v-model="aidOrder.remuneration" placeholder="报酬金额" />
				</div>
				<div class="mui-row">
					<ul id="paymentMethod" class="mui-table-view mui-table-view-radio li-margin-left-25">
						<li class="mui-table-view-cell mui-selected" value="0">
							<a class="mui-navigate-right">
								单成现金付款
							</a>
						</li>
						<li class="mui-table-view-cell" value="1">
							<a class="mui-navigate-right">
								支付宝
							</a>
						</li>
						<li class="mui-table-view-cell" value="2">
							<a class="mui-navigate-right">
								微信
							</a>
						</li>
					</ul>
				</div>
				<div class="mui-input-row" style="height: 4em; padding-top: 2px;">
					<textarea placeholder="详细描述" v-model="aidOrder.description"></textarea>
				</div>
				<div class="mui-input-row" style="height: 4em; padding-top: 2px;">
					<textarea placeholder="填写被接单后，具体流程信息" v-model="aidOrder.receivedInfo"></textarea>
				</div>
				<div class="mui-button-row">
					<span id='deadline' data-options='{}' class="mui-btn btn-green">选择订单截至的时间 </span>
				</div>
				<div class="mui-input-row">
					<input type="text" class="mui-input-clear" v-model="aidOrder.creatorContact" placeholder="联系方式" />
				</div>
				<div class="mui-button-row" onclick="showCityPickerWindow()">
					<span id='cityPicker'>省、市、区</span>
				</div>
				<div class="mui-input-row" style="height: 4em; padding-top: 2px;">
					<textarea placeholder="订单地址" v-model="aidOrder.orderAddress"></textarea>
				</div>
			</form>
		</div>
		<script src="../../js/common.js" charset="UTF-8"></script>
		<script src="../../js/mui.min.js" charset="UTF-8"></script>
		<script src="../../libs/vue.min.js" charset="UTF-8"></script>
		<script src="../../libs/city.data.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../libs/city.data-3.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../libs/mui.poppicker.js"></script>
		<script src="../../libs/mui.picker.min.js" charset="UTF-8"></script>
		<script type="text/javascript" charset="UTF-8">
			mui.init({
				swipeBack: true
			});

			var vm = new Vue({
				el: '.mui-content',
				data: {
					aidOrder: {},
					aidCategorys: [],
				},
				methods: {
					init: function() {
						var aidCategoryUrl = "app/category/aidCategorys";
						var token = commonUtils.getToken();
						mui.getJSON(
							baseURL + aidCategoryUrl,
							function(r) {
								if(r.code === 0) {
									vm.aidCategorys = r.aidCategorys;
									if(vm.currAidCategory == null) {
										vm.aidOrder.categoryId = vm.aidCategorys[0].categoryId;
									}
								} else {
									mui.toast(r.msg);
								}
							}
						);
					},
					addAidOrder: function() {
						var data = JSON.stringify(vm.aidOrder);
						mui.ajax({
							url: baseURL + "app/aidorder/saveOfLogin",
							headers: {
								token: commonUtils.getToken()
							},
							data: data,
							contentType: "application/json",
							type: 'POST', //表示调用get方法请求；
							dataType: 'json', //表示以json形式接受返回参数
							success: function(r) { //请求成功，返回函数
								if(r.code === 0) {
									mui.toast("添加成功");
									plus.webview.currentWebview().close();
								} else {
									mui.toast(r.msg);
								}
							}
						});
					},
				}
			});

			mui.plusReady(function() {
				vm.init();
			});
			document.querySelector('#paymentMethod').addEventListener('selected', function(e) {
				vm.aidOrder.paymentMethod = e.detail.el.value;
			});
			document.querySelector('#category').addEventListener('selected', function(e) {
				vm.aidOrder.categoryId = e.detail.el.value;
			});
			mui.back = function() {
				plus.webview.currentWebview().close();
			}

			/**
			 * 获取对象属性的值
			 * 主要用于过滤三级联动中，可能出现的最低级的数据不存在的情况，实际开发中需要注意这一点；
			 * @param {Object} obj 对象
			 * @param {String} param 属性名
			 */
			var _getParam = function(obj, param) {
				return obj[param] || '';
			};

			var cityPicker3 = new mui.PopPicker({
				layer: 3
			});
			cityPicker3.setData(cityData3);

			function showCityPickerWindow() {
				cityPicker3.show(function(items) {
					document.getElementById("cityPicker").innerText = _getParam(items[0], 'text') + "-" + _getParam(items[1], 'text') + "-" + _getParam(items[2], 'text');
					vm.aidOrder.provinceName = _getParam(items[0], 'text');
					vm.aidOrder.cityName = _getParam(items[1], 'text');
					vm.aidOrder.regionName = _getParam(items[2], 'text');
				});
			}

			document.querySelector("#deadline").addEventListener('tap', function() {
				var _self = this;
				if(_self.picker) {
					_self.picker.show(function(rs) {
						result.innerText = '选择结果: ' + rs.text;
						_self.picker.dispose();
						_self.picker = null;
					});
				} else {
					var optionsJson = this.getAttribute('data-options') || '{}';
					var options = JSON.parse(optionsJson);
					var now = new Date();
					options.beginYear = now.getFullYear();
					var id = this.getAttribute('id');
					/*
					 * 首次显示时实例化组件
					 * 示例为了简洁，将 options 放在了按钮的 dom 上
					 * 也可以直接通过代码声明 optinos 用于实例化 DtPicker
					 */
					_self.picker = new mui.DtPicker(options);
					_self.picker.show(function(rs) {
						/*
						 * rs.value 拼合后的 value
						 * rs.text 拼合后的 text
						 * rs.y 年，可以通过 rs.y.vaue 和 rs.y.text 获取值和文本
						 * rs.m 月，用法同年
						 * rs.d 日，用法同年
						 * rs.h 时，用法同年
						 * rs.i 分（minutes 的第二个字母），用法同年
						 */
						vm.aidOrder.deadline = rs.value + ':00';
						_self.picker.dispose();
						_self.picker = null;
					});
				}

			}, false);
		</script>

	</body>

</html>