<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>修改密码</title>
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" type="text/css" href="../../css/iconfont.css" />

		<style type="text/css">
			.mui-input-row label {
				width: 20%;
			}
			
			.mui-input-row label~input {
				width: 80%;
			}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header-green">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">修改密码</h1>
		</header>
		<div id="changePasswordDiv" class="mui-content">
			<div class="mui-card" style="margin-top: 30px;">
				<form class="mui-input-group">
					<div class="mui-input-row">
						<label><span class="mui-icon iconfont icon-lockopen"></span></label>
						<input type="password" v-model="oldPassword" class="mui-input-clear" placeholder="旧密码" />
					</div>
					<div class="mui-input-row">
						<label><span class="mui-icon iconfont icon-iconmm"></span></label>
						<input type="password" v-model="newPassword" class="mui-input-clear" placeholder="新密码" />
					</div>
					<div class="mui-input-row">
						<label><span class="mui-icon iconfont icon-queren1"></span></label>
						<input type="password" v-model="verifyNewPassword" class="mui-input-clear" placeholder="确认新密码" />
					</div>
				</form>
			</div>
			<div class="mui-button-row" style="margin: 10px 15px;">
				<button type="button" onclick="vm.changePassword()" class="mui-btn btn-green mui-btn-block" style="padding: 5px 0px;">修改密码</button>
			</div>
		</div>

		<script src="../../js/mui.min.js" charset="UTF-8"></script>
		<script src="../../libs/vue.min.js" charset="UTF-8"></script>
		<script src="../../js/common.js" charset="UTF-8"></script>
		<script type="text/javascript" charset="UTF-8">
			mui.init({
				swipeBack: true
			});
			var vm = new Vue({
				el: '#changePasswordDiv',
				data: {
					oldPassword: '',
					newPassword: '',
					verifyNewPassword: ''
				},
				methods: {
					changePassword: function() {
						var token = commonUtils.getToken();
						if(vm.newPassword!=vm.verifyNewPassword){
							mui.toast("新密码不一致");
							return;
						}
						mui.getJSON(
							baseURL + 'app/user/changePasswordOfLogin', {
								token: token,
								oldPassword:vm.oldPassword,
								newPassword:vm.newPassword
							},
							function(r) {
								if(r.code === 0) {
									vm.oldPassword='';
									vm.newPassword='';
									vm.verifyNewPassword='';
									mui.toast('修改密码成功,请重新登录');
									commonUtils.logout();
								} else {
									mui.toast(r.msg);
								}
							}
						);
					}
				}
			});
			mui.plusReady(function() {

			});
		</script>

	</body>

</html>